hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    border-width: 50%;
    padding-top: 5px;
  }
.logo img{
    height:150px;
}
.column {
    float: left;
    width: 50%;
    padding: 0px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.expanded, .collapsible:hover {
    background-color: #ccc;
}

#content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.inactive:after{
    content: '\02795'; /* Unicode character for plus sign */
    float: right;
}
  
.expanded:after  {
    content: "\2796"; /* Unicode character for minus sign */
    float: right;
}
.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }